.banner {
    background: url("img/banner\ electraa.jpg") 
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color:#fff;
    
}
.display-3 {

    
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-link:hover::after{
    content: '';
    display:block;
    border-bottom: 3px solid #ffffff;
    width: 50%;
    margin: auto;
    padding-bottom: 3px;
    margin-bottom: -8px;
}
nav ul li {
    display: inline-block;
    margin: 0px 9px;
}
span {
    color:rgb(164, 46, 46);
}

@media only screen and (max-width: 1000px){
    .navbar-nav{
        text-align: center;
        
        width: 50px;
        margin: auto;
     
    }
 
}


.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; 
}
.card{
    height: 365px;
    margin: 15px;
}
.nav.link{
    color:#000000 !important;
}
/* .shadow-text {
    font-size:40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
.shadow-text2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  } */
  